/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.categories {
  position: relative;
  height: auto;
  .videos{
    display: flex;
    height: auto;
  }
  .overlay {
    height: 400px;
    width: 100%;
    position: relative;
    top: 0px;
    left: 0;
    opacity: 0.5;
    pointer-events: all;
    object-fit: cover;
  }
}

.hide_in_editor {
  display: none;
}